<div class="tab-view">
    <mat-list class="tab-menu">
        <mat-list-item>
            <button class="full-width" mat-button (click)="onCreateTask()">Записать клиента</button>
        </mat-list-item>
    </mat-list>
    <mat-list *ngIf="tasks.length" class="tab-content">
        <mat-card class="card" *ngFor="let task of tasks">
            <mat-card-title>
                {{task.serviceName}}
                <span>{{task.timeView}}</span>
            </mat-card-title>
            <mat-card-content>
                <strong> {{task.customerName}} </strong>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="onCancelTask(task)">Отменить</button>
                <button mat-button (click)="onShiftTask(task)">Перенести</button>
            </mat-card-actions>
        </mat-card>
    </mat-list>

    <empty #empty *ngIf="!tasks.length"></empty>
</div>