.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image, .sign {
    height: 100%;
    visibility: visible;
    display: block;
}

.image {
    background: url('./../../../assets/sign-bg.jpg');
    background-size: cover;
}

.sign {
    display: grid;
    background-color: #f9f9f9;
}

@media (max-width: "600px") {
    .image {
        visibility: hidden; 
        width: 0px;
    }
}

    .sign-card {
        margin: auto;
        width: 300px;
    }

    .sign-card h1 {
        font-family: 'Roboto';
        font-weight: 300;
        color: #03b9f5;
        margin-bottom: 16px;
    }   

    .sign-card p {
        font-family: 'Roboto';
        font-weight: 500;
        color: #343434;
        margin-bottom: 16px;
    }  

    .actions {
        margin-top: 16px;
    }

        button {
            float: right;
            margin-left: 16px;
        }

    .full-width {
        width: 100%;
    }