<div class="container">
  <div class="image"></div>
  <div class="sign">
    <div class="sign-card">
      <h1>Начать работу</h1>
      <mat-form-field class="full-width">
        <input 
          matInput
          placeholder="Эл. почта"
          automation-id="email-control"
          [formControl]="email" />
        <mat-error *ngIf="email.invalid">
          Неверный адрес
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Пароль"
          automation-id="password-control"
          [formControl]="password" />
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="isNewUser">
        <input
          matInput
          placeholder="Имя"
          automation-id="name-control"
          [formControl]="name" />
      </mat-form-field>
      <p class="error-message" *ngIf="error" automation-id="auth-error"> {{ errorMessage }}</p>  
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          mat-button
          automation-id="sign-control"
          (click)="onSign()"> {{ isNewUser ? 'Регистрация' : 'Вход' }}
        </button>
        <button
          mat-button
          automation-id="sign-change-control"
          (click)="onSignChange()"> {{ isNewUser ? 'Вход' : 'Регистрация' }}
        </button>
      </div>
    </div>
  </div>
</div>