<h2 mat-dialog-title>Перенести запись</h2>
<app-time-picker #timePicker></app-time-picker>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Не надо</button>
    <button mat-button (click)="onYesClick()">Перенести</button>
</mat-dialog-actions>