<div class="tab-view">
    <mat-list class="tab-menu">
        <mat-form-field class="full-width">
            <input matInput placeholder="Найти клиента" (keyup)="searchRequest.next($event.target.value)" />
        </mat-form-field>
    </mat-list>
    <mat-list *ngIf="customers.length" class="tab-content">
        <div *ngIf="isSearch">
            <p class="search-hint">Результат поиска</p>
        </div>
        <mat-card *ngFor="let customer of customers">
            <mat-card-title>
                {{customer.name}}
                <span>{{customer.phone}}{{customer.email}}</span>
            </mat-card-title>
            <mat-card-actions>
                <button mat-button (click)="onAppoint(customer)">Записать</button>
                <button mat-button (click)="showAllAppoints(customer)">Проедшие записи</button>
            </mat-card-actions>
        </mat-card>
    </mat-list>

    <empty #empty *ngIf="!customers.length"></empty>
</div>