<h2 mat-dialog-title>{{isNew ? 'Добавить услугу' : 'Изменить услугу'}}</h2>

<mat-form-field class="full-width">
    <input required matInput placeholder="Название" [(ngModel)]="name" />
</mat-form-field>
<mat-form-field class="full-width">
    <textarea required matInput placeholder="Описание" [(ngModel)]="description"></textarea>
</mat-form-field>
<mat-form-field class="full-width">
    <input required matInput placeholder="Стоимость" [(ngModel)]="price" />
</mat-form-field>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Не надо</button>
    <button mat-button [mat-dialog-close]="true" (click)="onYesClick()">{{isNew ? 'Добавить' : 'Сохранить'}}</button>
</mat-dialog-actions>
