.tabs {
  margin: 16px;
  background: #f9f9f9;
  height: 100%;
}

.tab {
  padding: 16px;
}

@media (min-width: 1250px) {
  .tabs {
    width: 1250px;
    margin: 16px auto 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

mat-card {
  background-color: #fff;
  margin-bottom: 16px;
}

mat-list-item {
  width: 100%;
}
