<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>База клиентов</span>
    <span class="text-align-right">
      <small class="email">{{email}}</small>
    </span>
    <span class="text-align-right">
      <small (click)="signOut()">Выйти</small>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group class="tabs">
  <mat-tab label="Расписание">
    <div class="tab">
      <app-tasks></app-tasks>
    </div>
  </mat-tab>
  <mat-tab label="Клиенты">
    <div class="tab">
      <app-customers></app-customers>
    </div>
  </mat-tab>
  <mat-tab label="Услуги">
    <div class="tab">
      <app-services></app-services>
    </div>
  </mat-tab>
  <mat-tab label="Настройки">
    <div class="tab">
      <div class="tab-view">
        <mat-list class="tab-menu">
          <mat-list-item>
            Рабочий день:
            <br>
            <mat-form-field class="full-width">
              <input required matInput placeholder="Начало" [(ngModel)]="workTime.start" (keyup)="startTime.next($event.target.value)"
              />
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
              <input required matInput placeholder="Конец" [(ngModel)]="workTime.end" (keyup)="endTime.next($event.target.value)" />
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="progress-wrapper">
  Идет запрос
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>