<h2 mat-dialog-title>Новая запись</h2>

<mat-form-field>
    <mat-select placeholder="Выберите услугу" [(value)]="service">
        <mat-option *ngFor="let service of data.services" [value]="service.id">
            {{ service.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="Выберите клиента" [(value)]="customer">
        <mat-option *ngFor="let customer of data.customers" [value]="customer.id">
            {{ customer.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<app-time-picker #timePicker></app-time-picker>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Не надо</button>
    <button mat-button (click)="onYesClick()">Добавить</button>
</mat-dialog-actions>