<div class="time-picker">
    <div class="date">
        <button mat-button class="prev" (click)="onPrevDate()">Назад</button>
        <button mat-button class="date-view">{{currentDate}}</button>
        <button mat-button class="next" (click)="onNextDate()">Вперед</button>
    </div>
    <div *ngIf="!isShowTime" class="time">
        <p *ngIf="isSelectHours">Выберите часы</p>
        <div *ngIf="isSelectHours" class="hours">
            <div class="hour" *ngFor="let hour of workHours">
                <button class="time-item" mat-button (click)="onSelectHour(hour)">{{hour}}</button>
            </div>
        </div>
        <p *ngIf="isSelectMinutes">Выберите минуты</p>
        <div *ngIf="isSelectMinutes" class="minutes">
            <div class="minutes" *ngFor="let minutes of [0, 10, 20, 30, 40, 50]">
                <button class="time-item" mat-button (click)="onSelectMinutes(minutes)">{{!minutes ? '00' : minutes}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="isShowTime">
        <p class="selected-time">Перенести на
            <b>{{selectedTime}}</b>
        </p>
        <button class="time-item clear-btn" mat-button (click)="onReset()">Изменить</button>
    </div>
</div>