.time-picker {
  width: 400px;
}

.date,
.time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prev,
.next {
  width: auto;
}

.hours,
.minutes {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.time-item {
  display: inline-block;
  flex-grow: 1;
  width: calc(100% * (1 / 5) - 10px - 1px);
  margin-bottom: 8px;
}

p {
  margin-top: 16px;
  width: 100%;
  text-align: center;
}

.clear-btn {
  margin: 16px auto;
}
