/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

body,
html {
  height: 100%;
}

.text-align-right {
  margin-left: auto;
}

@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.full-width {
  width: 100%;
}
body {
  background-color: lightgrey;
}

mat-card {
  color: #323435 !important;
  background: ghostwhite;
  box-shadow: 0 3px 1px -2px rgba(0, 3, 10, 0.2),
    0 2px 12px 0 rgba(0, 2, 8, 0.08), 0 4px 15px 0 rgba(0, 1, 6, 0.04) !important;
  border-radius: 7px !important;
  margin-bottom: 16px;
}

mat-card-title {
  span {
    float: right;
    font-weight: 500;
  }
}

mat-card-title {
  font-weight: 500;
}

mat-card-actions button {
  font-size: 15px !important;
  font-weight: 100;
}

.progress-wrapper {
  visibility: hidden;
  width: 16em;
  position: absolute;
  right: 48px;
  bottom: 24px;
  background: whitesmoke;
  height: 32px;
  border-radius: 16px;
  padding: 3px 24px 0 24px;
  color: #404344;
  border: 1px solid lightblue;
  box-shadow: 0 3px 1px -2px rgba(0, 3, 10, 0.2),
    0 2px 12px 0 rgba(0, 2, 8, 0.08), 0 4px 15px 0 rgba(0, 1, 6, 0.04);
}

.tab-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.tab-menu {
  width: 450px;
  margin-right: 16px;
}

.tab-content {
  width: 100%;
}
