<div class="tab-view">
  <mat-list class="tab-menu">
    <mat-list-item>
      <button class="full-width" mat-button (click)="onCreateService()">Добавить</button>
    </mat-list-item>
  </mat-list>
  <mat-list *ngIf="services.length" class="tab-content">
    <mat-card *ngFor="let service of services">
      <mat-card-title>
        {{service.name}}
        <span>{{service.price}} ₽</span>
      </mat-card-title>
      <mat-card-content>
        {{service.description}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onRemoveService(service)">Удалить</button>
        <button mat-button (click)="onUpdateService(service)">Изменить</button>
      </mat-card-actions>
    </mat-card>
  </mat-list>

  <empty #empty *ngIf="!services.length"></empty>
</div>