<h2 mat-dialog-title>Прошедшие записи</h2>

<mat-list class="grid-item">
    <mat-list-item *ngFor="let task of tasks">
        {{task.serviceName}} -
        <b>{{task.servicePrice}} ₽</b>
    </mat-list-item>
</mat-list>

<p [style.display]="!tasks.length ? 'block' : 'none'">Нет записей</p>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>