<h2 mat-dialog-title>{{isNew ? 'Добавить услугу' : 'Изменить услугу'}}</h2>

<mat-form-field class="full-width">
  <input required matInput placeholder="Имя" [(ngModel)]="name" />
</mat-form-field>
<mat-form-field class="full-width">
  <input matInput placeholder="Телефон" [(ngModel)]="phone" />
</mat-form-field>
<mat-form-field class="full-width">
  <input matInput placeholder="Email" [(ngModel)]="email" />
</mat-form-field>
<mat-form-field class="full-width">
  <textarea matInput placeholder="Описание" [(ngModel)]="info"></textarea>
</mat-form-field>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Не надо</button>
  <button mat-button (click)="onDone()">{{isNew ? 'Добавить' : 'Сохранить'}}</button>
</mat-dialog-actions>